*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@100&display=swap');

.main{
    width: 100%;
    height: 100vh;
    background: url('../images/1802071.webp') center center;
    background-size: cover;

}
.overlay{
    width: 100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    color:white;
}
.title{
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: 2.5rem;
}
.col{
    width: 1000px;
  margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;

}
.col div{
    text-align: center;
}
input{
    width:60%;
    background-color: rgba(255,255,255,0.9);
    border-color: transparent;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    font-size: 30px;;
    
}