* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

hr {
  opacity: 0.5;
}

body::before {
  background-color: rgb(236, 242, 248);
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 150%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  opacity: 1;
}

/* Navigation section */

.navigation {
  display: block;
  height: 55vh;
  width: 100vw;
  z-index: -1;
  overflow-y: hidden;
}

/* .navigation::before {
  background: url("https://images.pexels.com/photos/414659/pexels-photo-414659.jpeg?auto=compress&cs=tinysrgb&w=600");
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0.9;
} */

.navigation .bg-video {
  position: relative;
  top: 0%;
  left: 0;
  width: 100%;
  margin: 0;
  opacity: 0.8;
}

.nav-logo {
  position: absolute;
  top: 3%;
  left: 2%;
  z-index: 100;
  display: flex;
  justify-content: center;
}

.nav-logo img {
  width: 30%;
}

.nav-logo span {
  margin-left: 5%;
  margin-top: 10%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

.nav-search {
  position: absolute;
  top: 20%;
  left: 15%;
  z-index: 100;
  display: flex;
  justify-content: center;
  display: flex;
}

.nav-search .search-box {
  box-shadow: rgb(234, 227, 227) 3px 3px 6px 0px inset,
    rgba(255, 250, 250, 0.5) -3px -3px 6px 1px inset;
  outline: none;
  border: none;
  width: 35vw;
  padding: 15px 5px 15px 52px;
  border-radius: 10px;
}

.nav-search .search-icon {
  width: 4%;
  position: relative;
  top: 16%;
  left: 6%;
}

/* Recent Search History */

.recent-search {
  position: absolute;
  top: 30%;
  left: 17%;
  color: white;
  letter-spacing: 1px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}

.cards-container {
  display: flex;
  margin-top: 5%;
}

.cards-container .cards {
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  justify-content: center;
  margin-right: 5%;
}

.cards-container .cards .cityName {
  margin-top: 5%;
  margin-left: 5%;
  text-align: left;
}

.cards-container .cards .countryName {
  margin-top: 5%;
  margin-left: 5%;
  text-align: left;
  font-size: 11px;
}

.cards-container .cards .temp {
  margin-top: 5%;
  display: flex;
}

.cards-container .cards .temp img {
  margin-left: 8%;
  width: 25%;
  margin-right: 10%;
  filter: invert(100%);
}

.cards-container .cards .temp span {
  margin-top: 5%;
  margin-left: 3%;
  display: flex;
  font-size: 23px;
}

.cards-container .cards .feelsLike {
  margin: 5%;
  font-size: 10px;
}

/* Weather Display Card section */

.current-weather {
  margin-top: 5%;
  margin-left: 30%;
}

.weather-details-card {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 2%;
  background-color: #ffffff;
  width: 50%;
}

.hidden {
  display: none;
  transform: translateY(8rem);
}

.current-weather .weather-details-card .top {
  display: flex;
  margin-bottom: 2%;
}

.current-weather .weather-details-card .current-text {
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.current-weather .weather-details-card .timing {
  font-size: 15px;
  margin-left: 60%;
  color: grey;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.current-weather .weather-details-card .middle {
  display: flex;
  margin-bottom: 12%;
}

.current-weather .weather-details-card .middle .middle-left {
  position: relative;
  left: 5%;
  margin-top: 5%;
}

.current-weather .weather-details-card .middle .middle-left img {
  width: 30%;
  /* filter: invert(80%); */
  margin-right: 10%;
}

.current-weather .weather-details-card .middle .middle-left span {
  font-size: 50px;
}

.current-weather .weather-details-card .middle .middle-right {
  position: relative;
  left: 15%;
  margin-top: 10%;
}

.current-weather .weather-details-card .middle .middle-right .feelslike {
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.current-weather .weather-details-card .middle .middle-right .type {
  margin-top: 2%;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.current-weather .weather-details-card .main-section {
  display: grid;
  grid-template-columns: 250px 250px;
  row-gap: 20px;
}

.current-weather .weather-details-card .main-section .detail hr {
  width: 80%;
  opacity: 0.2;
}

.current-weather .weather-details-card .main-section .detail span {
  font-size: 21px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  opacity: 0.7;
}

/* Not found section */

.not-found {
  margin-left: 40%;
  width: 60vw;
}

.modal {
  position: absolute;
  top: 40%;
  left: 35%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  display: flex;
  width: 30%;
  background-color: #116d6e;
  transition-duration: 2s;
  border-radius: 10px;
}

.modal .data {
  color: #fedfb8db;
  font-size: 20px;
  font-family: "Crimson Text", serif;
  letter-spacing: 2px;
  padding: 5%;
}

.modal .cross {
  font-size: 30px;
  position: relative;
  top: -30%;
  left: -5%;
  cursor: pointer;
  color: white;
  overflow-x: visible;
}

.modal-hidden {
  transform: translateY(8rem);
  display: none;
}

/* ////////////////////////////////////////////////////// */

/* Media queries */

/*1.media queries for smaller phone upto 400px */

@media (max-width: 400px) {
  /* Navigation section */

  .navigation {
    height: 60vh;
  }

  .nav-logo {
    position: absolute;
    top: 3%;
    left: -5%;
    z-index: 100;
    display: flex;
    justify-content: center;
  }

  .nav-logo img {
    width: 20%;
  }

  .nav-logo span {
    margin-top: 5%;
    font-size: 15px;
  }

  .nav-search {
    position: absolute;
    top: 10%;
    left: 20%;
    z-index: 100;
  }

  .nav-search .search-box {
    width: 50vw;
    padding: 5px 2px 5px 32px;
    border-radius: 10px;
    font-size: 10px;
  }

  .nav-search .search-icon {
    width: 4%;
    position: relative;
    top: 16%;
    left: 6%;
  }

  /* Recent Search History */

  .recent-search {
    position: absolute;
    top: 15%;
    left: 5%;
    font-size: 10px;
  }

  .cards-container {
    display: flex;
    margin-top: 5%;
    margin-left: 0%;
  }

  .cards-container .cards {
    display: block;
    margin-right: 1%;
  }

  .cards-container .cards .cityName {
    font-size: 10px;
    margin-top: 5%;
    margin-left: 5%;
  }

  .cards-container .cards .countryName {
    font-size: 8px;
    margin-top: 1%;
  }

  .cards-container .cards .temp {
    margin-top: 2%;
    display: flex;
  }

  .cards-container .cards .temp img {
    margin-left: 8%;
    width: 15%;
    margin-right: 5%;
    filter: invert(100%);
  }

  .cards-container .cards .temp span {
    margin-top: 2%;
    margin-left: 3%;

    font-size: 13px;
  }

  .cards-container .cards .feelsLike {
    margin: 5%;
    font-size: 8px;
  }

  /* Weather Display Card section */

  .mainSection {
    margin-top: -20%;
  }

  .current-weather {
    width: 95%;
    margin-top: 0%;
    margin-left: 2%;
  }

  .weather-details-card {
    padding: 2%;
    width: 100%;
  }

  .hidden {
    display: none;
    transform: translateY(8rem);
  }

  .current-weather .weather-details-card .top {
    display: flex;
    margin-bottom: 2%;
  }

  .current-weather .weather-details-card .current-text {
    font-size: 10px;
  }

  .current-weather .weather-details-card .timing {
    font-size: 10px;
    margin-left: 60%;
    color: grey;
  }

  .current-weather .weather-details-card .middle {
    display: flex;
    margin-bottom: 12%;
  }

  .current-weather .weather-details-card .middle .middle-left {
    position: relative;
    left: 5%;
    margin-top: 5%;
  }

  .current-weather .weather-details-card .middle .middle-left img {
    width: 15%;
    /* filter: invert(80%); */
    margin-right: 10%;
  }

  .current-weather .weather-details-card .middle .middle-left span {
    font-size: 25px;
  }

  .current-weather .weather-details-card .middle .middle-right {
    position: relative;
    left: 10%;
    margin-top: 5%;
  }

  .current-weather .weather-details-card .middle .middle-right .feelslike {
    font-size: 15px;
  }

  .current-weather .weather-details-card .middle .middle-right .type {
    margin-top: 2%;
    font-size: 10px;
  }

  .current-weather .weather-details-card .main-section {
    display: grid;
    grid-template-columns: 200px 200px;
    row-gap: 20px;
  }

  .current-weather .weather-details-card .main-section .detail hr {
    width: 80%;
    opacity: 0.2;
  }

  .current-weather .weather-details-card .main-section .detail span {
    font-size: 12px;
  }

  /* Not found section */

  .not-found {
    margin-left: 40%;
    width: 60vw;
  }

  .modal {
    position: absolute;
    top: 40%;
    left: 8%;
    width: 80%;
  }

  .modal .data {
    font-size: 15px;
  }

  .modal .cross {
    font-size: 30px;
    position: relative;
    left: -8%;
  }

  .modal-hidden {
    transform: translateY(8rem);
    display: none;
  }
}

/*2.media queries for phone desktop site*/

@media (min-width: 401px) and (max-width: 515px) {
  /* Navigation section */

  .navigation {
    height: 50vh;
  }

  .nav-logo {
    position: absolute;
    top: 3%;
    left: -5%;
    z-index: 100;
    display: flex;
    justify-content: center;
  }

  .nav-logo img {
    width: 20%;
  }

  .nav-logo span {
    margin-top: 5%;
    font-size: 15px;
  }

  .nav-search {
    position: absolute;
    top: 15%;
    left: 18%;
    z-index: 100;
  }

  .nav-search .search-box {
    width: 60vw;
    padding: 8px 5px 8px 35px;
    border-radius: 10px;
    font-size: 12px;
  }

  .nav-search .search-icon {
    width: 4%;
    position: relative;
    top: 16%;
    left: 6%;
    z-index: 100;
  }

  /* Recent Search History */

  .recent-search {
    position: absolute;
    top: 22%;
    left: 4%;
    font-size: 12px;
  }

  .cards-container {
    display: flex;
    margin-top: 2%;
    margin-left: 0%;
  }

  .cards-container .cards {
    display: block;
    margin-right: 1%;
  }

  .cards-container .cards .cityName {
    font-size: 10px;
    margin-top: 5%;
    margin-left: 5%;
  }

  .cards-container .cards .countryName {
    font-size: 8px;
    margin-top: 1%;
  }

  .cards-container .cards .temp {
    margin-top: 2%;
    display: flex;
  }

  .cards-container .cards .temp img {
    margin-left: 8%;
    width: 15%;
    margin-right: 5%;
    filter: invert(100%);
  }

  .cards-container .cards .temp span {
    margin-top: 2%;
    margin-left: 3%;

    font-size: 13px;
  }

  .cards-container .cards .feelsLike {
    margin: 5%;
    font-size: 8px;
  }

  /* Weather Display Card section */

  .mainSection {
    margin-top: 0%;
  }

  .current-weather {
    width: 95%;
    margin-top: 0%;
    margin-left: 2%;
  }

  .weather-details-card {
    padding: 2%;
    width: 100%;
  }

  .hidden {
    display: none;
    transform: translateY(8rem);
  }

  .current-weather .weather-details-card .top {
    display: flex;
    margin-bottom: 2%;
  }

  .current-weather .weather-details-card .current-text {
    font-size: 13px;
  }

  .current-weather .weather-details-card .timing {
    font-size: 13px;
  }

  .current-weather .weather-details-card .middle {
    display: flex;
    margin-bottom: 12%;
  }

  .current-weather .weather-details-card .middle .middle-left {
    position: relative;
    left: 5%;
    margin-top: 5%;
  }

  .current-weather .weather-details-card .middle .middle-left img {
    width: 20%;
    /* filter: invert(80%); */
    margin-right: 10%;
  }

  .current-weather .weather-details-card .middle .middle-left span {
    font-size: 35px;
  }

  .current-weather .weather-details-card .middle .middle-right {
    position: relative;
    left: 10%;
    margin-top: 5%;
  }

  .current-weather .weather-details-card .middle .middle-right .feelslike {
    font-size: 20px;
  }

  .current-weather .weather-details-card .middle .middle-right .type {
    margin-top: 2%;
    font-size: 15px;
  }

  .current-weather .weather-details-card .main-section {
    display: grid;
    grid-template-columns: 250px 250px;
    row-gap: 20px;
  }

  .current-weather .weather-details-card .main-section .detail hr {
    width: 80%;
    opacity: 0.2;
  }

  .current-weather .weather-details-card .main-section .detail span {
    font-size: 18px;
  }

  /* Not found section */

  .not-found {
    margin-left: 40%;
    width: 60vw;
  }

  .modal {
    position: absolute;
    top: 40%;
    left: 25%;
    width: 60%;
  }

  .modal .data {
    font-size: 15px;
  }

  .modal .cross {
    font-size: 30px;
    position: relative;
    left: -5%;
  }

  .modal-hidden {
    transform: translateY(8rem);
    display: none;
  }
}

/*3.media queries for bigger phone upto 576px; */

@media (min-width: 516px) and (max-width: 576px) {
  /* Navigation section */

  .navigation {
    height: 50vh;
  }

  .nav-logo {
    position: absolute;
    top: 3%;
    left: -5%;
    z-index: 100;
    display: flex;
    justify-content: center;
  }

  .nav-logo img {
    width: 20%;
  }

  .nav-logo span {
    margin-top: 5%;
    font-size: 15px;
  }

  .nav-search {
    position: absolute;
    top: 15%;
    left: 12%;
    z-index: 100;
  }

  .nav-search .search-box {
    width: 70vw;
    padding: 8px 5px 8px 35px;
    border-radius: 10px;
    font-size: 15px;
  }

  .nav-search .search-icon {
    width: 4%;
    position: relative;
    top: 16%;
    left: 5%;
    z-index: 100;
  }

  /* Recent Search History */

  .recent-search {
    position: absolute;
    top: 25%;
    left: 4%;
    font-size: 12px;
  }

  .cards-container {
    display: flex;
    margin-top: 2%;
    margin-left: 0%;
  }

  .cards-container .cards {
    display: block;
    margin-right: 1%;
  }

  .cards-container .cards .cityName {
    font-size: 10px;
    margin-top: 5%;
    margin-left: 5%;
  }

  .cards-container .cards .countryName {
    font-size: 8px;
    margin-top: 1%;
  }

  .cards-container .cards .temp {
    margin-top: 2%;
    display: flex;
  }

  .cards-container .cards .temp img {
    margin-left: 8%;
    width: 15%;
    margin-right: 5%;
    filter: invert(100%);
  }

  .cards-container .cards .temp span {
    margin-top: 2%;
    margin-left: 3%;

    font-size: 13px;
  }

  .cards-container .cards .feelsLike {
    margin: 5%;
    font-size: 8px;
  }

  /* Weather Display Card section */

  .mainSection {
    margin-top: 0%;
  }

  .current-weather {
    width: 95%;
    margin-top: 10%;
    margin-left: 2%;
  }

  .weather-details-card {
    padding: 2%;
    width: 100%;
  }

  .hidden {
    display: none;
    transform: translateY(8rem);
  }

  .current-weather .weather-details-card .top {
    display: flex;
    margin-bottom: 2%;
  }

  .current-weather .weather-details-card .current-text {
    font-size: 13px;
  }

  .current-weather .weather-details-card .timing {
    font-size: 13px;
  }

  .current-weather .weather-details-card .middle {
    display: flex;
    margin-bottom: 12%;
  }

  .current-weather .weather-details-card .middle .middle-left {
    position: relative;
    left: 5%;
    margin-top: 5%;
  }

  .current-weather .weather-details-card .middle .middle-left img {
    width: 20%;
    /* filter: invert(80%); */
    margin-right: 10%;
  }

  .current-weather .weather-details-card .middle .middle-left span {
    font-size: 35px;
  }

  .current-weather .weather-details-card .middle .middle-right {
    position: relative;
    left: 10%;
    margin-top: 5%;
  }

  .current-weather .weather-details-card .middle .middle-right .feelslike {
    font-size: 20px;
  }

  .current-weather .weather-details-card .middle .middle-right .type {
    margin-top: 2%;
    font-size: 15px;
  }

  .current-weather .weather-details-card .main-section {
    display: grid;
    grid-template-columns: 250px 250px;
    row-gap: 20px;
  }

  .current-weather .weather-details-card .main-section .detail hr {
    width: 80%;
    opacity: 0.2;
  }

  .current-weather .weather-details-card .main-section .detail span {
    font-size: 18px;
  }

  /* Not found section */

  .not-found {
    margin-left: 40%;
    width: 60vw;
  }

  .modal {
    position: absolute;
    top: 40%;
    left: 25%;
    width: 60%;
  }

  .modal .data {
    font-size: 15px;
  }

  .modal .cross {
    font-size: 30px;
    position: relative;
    left: -5%;
  }

  .modal-hidden {
    transform: translateY(8rem);
    display: none;
  }
}

/*4.media queries for smaller tabs upto 624px */

@media (min-width: 577px) and (max-width: 632px) {
  /* Navigation section */

  .navigation {
    height: 50vh;
  }

  .nav-logo {
    position: absolute;
    top: 3%;
    left: -5%;
    z-index: 100;
    display: flex;
    justify-content: center;
  }

  .nav-logo img {
    width: 20%;
  }

  .nav-logo span {
    margin-top: 5%;
    font-size: 15px;
  }

  .nav-search {
    position: absolute;
    top: 15%;
    left: 12%;
    z-index: 100;
  }

  .nav-search .search-box {
    width: 70vw;
    padding: 8px 5px 8px 35px;
    border-radius: 10px;
    font-size: 15px;
  }

  .nav-search .search-icon {
    width: 4%;
    position: relative;
    top: 16%;
    left: 5%;
    z-index: 100;
  }

  /* Recent Search History */

  .recent-search {
    position: absolute;
    top: 25%;
    left: 4%;
    font-size: 12px;
  }

  .cards-container {
    display: flex;
    margin-top: 2%;
    margin-left: 0%;
  }

  .cards-container .cards {
    display: block;
    margin-right: 1%;
  }

  .cards-container .cards .cityName {
    font-size: 10px;
    margin-top: 5%;
    margin-left: 5%;
  }

  .cards-container .cards .countryName {
    font-size: 8px;
    margin-top: 1%;
  }

  .cards-container .cards .temp {
    margin-top: 2%;
    display: flex;
  }

  .cards-container .cards .temp img {
    margin-left: 8%;
    width: 15%;
    margin-right: 5%;
    filter: invert(100%);
  }

  .cards-container .cards .temp span {
    margin-top: 2%;
    margin-left: 3%;

    font-size: 13px;
  }

  .cards-container .cards .feelsLike {
    margin: 5%;
    font-size: 8px;
  }

  /* Weather Display Card section */

  .mainSection {
    margin-top: 0%;
  }

  .current-weather {
    width: 95%;
    margin-top: 10%;
    margin-left: 2%;
  }

  .weather-details-card {
    padding: 2%;
    width: 100%;
  }

  .hidden {
    display: none;
    transform: translateY(8rem);
  }

  .current-weather .weather-details-card .top {
    display: flex;
    margin-bottom: 2%;
  }

  .current-weather .weather-details-card .current-text {
    font-size: 17px;
  }

  .current-weather .weather-details-card .timing {
    font-size: 17px;
  }

  .current-weather .weather-details-card .middle {
    display: flex;
    margin-bottom: 12%;
  }

  .current-weather .weather-details-card .middle .middle-left {
    position: relative;
    left: 5%;
    margin-top: 5%;
  }

  .current-weather .weather-details-card .middle .middle-left img {
    width: 25%;
    /* filter: invert(80%); */
    margin-right: 10%;
  }

  .current-weather .weather-details-card .middle .middle-left span {
    font-size: 40px;
  }

  .current-weather .weather-details-card .middle .middle-right {
    position: relative;
    left: 25%;
    margin-top: 5%;
  }

  .current-weather .weather-details-card .middle .middle-right .feelslike {
    font-size: 22px;
  }

  .current-weather .weather-details-card .middle .middle-right .type {
    margin-top: 2%;
    font-size: 15px;
  }

  .current-weather .weather-details-card .main-section {
    display: grid;
    grid-template-columns: 300px 300px;
    row-gap: 20px;
    margin-left: 5%;
  }

  .current-weather .weather-details-card .main-section .detail hr {
    width: 80%;
    opacity: 0.2;
  }

  .current-weather .weather-details-card .main-section .detail span {
    font-size: 18px;
  }

  /* Not found section */

  .not-found {
    margin-left: 40%;
    width: 60vw;
  }

  .modal {
    position: absolute;
    top: 40%;
    left: 25%;
    width: 60%;
  }

  .modal .data {
    font-size: 15px;
  }

  .modal .cross {
    font-size: 30px;
    position: relative;
    left: -5%;
  }

  .modal-hidden {
    transform: translateY(8rem);
    display: none;
  }
}

/*5.media queries for tabs */

@media (min-width: 633px) and (max-width: 759px) {
  /* Navigation section */

  .navigation {
    height: 50vh;
  }

  .nav-logo {
    position: absolute;
    top: 3%;
    left: -5%;
    z-index: 100;
    display: flex;
    justify-content: center;
  }

  .nav-logo img {
    width: 20%;
  }

  .nav-logo span {
    margin-top: 5%;
    font-size: 15px;
  }

  .nav-search {
    position: absolute;
    top: 15%;
    left: 12%;
    z-index: 100;
  }

  .nav-search .search-box {
    width: 70vw;
    padding: 8px 5px 8px 35px;
    border-radius: 10px;
    font-size: 15px;
  }

  .nav-search .search-icon {
    width: 4%;
    position: relative;
    top: 16%;
    left: 5%;
    z-index: 100;
  }

  /* Recent Search History */

  .recent-search {
    position: absolute;
    top: 25%;
    left: 4%;
    font-size: 12px;
  }

  .cards-container {
    display: flex;
    margin-top: 2%;
    margin-left: 0%;
  }

  .cards-container .cards {
    display: block;
    margin-right: 1%;
  }

  .cards-container .cards .cityName {
    font-size: 10px;
    margin-top: 5%;
    margin-left: 5%;
  }

  .cards-container .cards .countryName {
    font-size: 8px;
    margin-top: 1%;
  }

  .cards-container .cards .temp {
    margin-top: 2%;
    display: flex;
  }

  .cards-container .cards .temp img {
    margin-left: 8%;
    width: 15%;
    margin-right: 5%;
    filter: invert(100%);
  }

  .cards-container .cards .temp span {
    margin-top: 2%;
    margin-left: 3%;

    font-size: 13px;
  }

  .cards-container .cards .feelsLike {
    margin: 5%;
    font-size: 8px;
  }

  /* Weather Display Card section */

  .mainSection {
    margin-top: 0%;
  }

  .current-weather {
    width: 95%;
    margin-top: 10%;
    margin-left: 2%;
  }

  .weather-details-card {
    padding: 2%;
    width: 100%;
  }

  .hidden {
    display: none;
    transform: translateY(8rem);
  }

  .current-weather .weather-details-card .top {
    display: flex;
    margin-bottom: 2%;
  }

  .current-weather .weather-details-card .current-text {
    font-size: 17px;
  }

  .current-weather .weather-details-card .timing {
    font-size: 17px;
  }

  .current-weather .weather-details-card .middle {
    display: flex;
    margin-bottom: 12%;
  }

  .current-weather .weather-details-card .middle .middle-left {
    position: relative;
    left: 5%;
    margin-top: 5%;
  }

  .current-weather .weather-details-card .middle .middle-left img {
    width: 25%;
    /* filter: invert(80%); */
    margin-right: 10%;
  }

  .current-weather .weather-details-card .middle .middle-left span {
    font-size: 40px;
  }

  .current-weather .weather-details-card .middle .middle-right {
    position: relative;
    left: 25%;
    margin-top: 5%;
  }

  .current-weather .weather-details-card .middle .middle-right .feelslike {
    font-size: 22px;
  }

  .current-weather .weather-details-card .middle .middle-right .type {
    margin-top: 2%;
    font-size: 15px;
  }

  .current-weather .weather-details-card .main-section {
    display: grid;
    grid-template-columns: 300px 300px;
    row-gap: 20px;
    margin-left: 10%;
    margin-top: -5%;
  }

  .current-weather .weather-details-card .main-section .detail hr {
    width: 80%;
    opacity: 0.2;
  }

  .current-weather .weather-details-card .main-section .detail span {
    font-size: 18px;
  }

  /* Not found section */

  .not-found {
    margin-left: 40%;
    width: 60vw;
  }

  .modal {
    position: absolute;
    top: 40%;
    left: 25%;
    width: 60%;
  }

  .modal .data {
    font-size: 15px;
  }

  .modal .cross {
    font-size: 30px;
    position: relative;
    left: -5%;
  }

  .modal-hidden {
    transform: translateY(8rem);
    display: none;
  }
}

/*6.media queries for tabs */

@media (min-width: 760px) and (max-width: 1020px) {
  /* Navigation section */

  .navigation {
    height: 50vh;
  }

  .nav-logo {
    position: absolute;
    top: 3%;
    left: -2%;
    z-index: 100;
    display: flex;
    justify-content: center;
  }

  .nav-logo img {
    width: 25%;
  }

  .nav-logo span {
    margin-top: 5%;
    font-size: 20dcpx;
  }

  .nav-search {
    position: absolute;
    top: 15%;
    left: 12%;
    z-index: 100;
  }

  .nav-search .search-box {
    width: 70vw;
    padding: 8px 5px 8px 35px;
    border-radius: 10px;
    font-size: 15px;
  }

  .nav-search .search-icon {
    width: 3%;
    position: relative;
    top: 16%;
    left: 4%;
    z-index: 100;
  }

  /* Recent Search History */

  .recent-search {
    position: absolute;
    top: 25%;
    left: 15%;
    font-size: 15px;
  }

  .cards-container {
    display: flex;
    margin-top: 2%;
    margin-left: 0%;
  }

  .cards-container .cards {
    display: block;
    margin-right: 1%;
  }

  .cards-container .cards .cityName {
    font-size: 12px;
    margin-top: 5%;
    margin-left: 5%;
  }

  .cards-container .cards .countryName {
    font-size: 10px;
    margin-top: 1%;
  }

  .cards-container .cards .temp {
    margin-top: 2%;
    display: flex;
  }

  .cards-container .cards .temp img {
    margin-left: 8%;
    width: 20%;
    margin-right: 5%;
    filter: invert(100%);
  }

  .cards-container .cards .temp span {
    margin-top: 2%;
    margin-left: 3%;

    font-size: 15px;
  }

  .cards-container .cards .feelsLike {
    margin: 5%;
    font-size: 10px;
  }

  /* Weather Display Card section */

  .mainSection {
    margin-top: -2%;
  }

  .current-weather {
    width: 70%;
    margin-top: 10%;
    margin-left: 15%;
  }

  .weather-details-card {
    padding: 2%;
    width: 100%;
  }

  .hidden {
    display: none;
    transform: translateY(8rem);
  }

  .current-weather .weather-details-card .top {
    display: flex;
    margin-bottom: 2%;
  }

  .current-weather .weather-details-card .current-text {
    font-size: 17px;
  }

  .current-weather .weather-details-card .timing {
    font-size: 17px;
  }

  .current-weather .weather-details-card .middle {
    display: flex;
    margin-bottom: 12%;
  }

  .current-weather .weather-details-card .middle .middle-left {
    position: relative;
    left: 5%;
    margin-top: 5%;
  }

  .current-weather .weather-details-card .middle .middle-left img {
    width: 25%;
    /* filter: invert(80%); */
    margin-right: 10%;
  }

  .current-weather .weather-details-card .middle .middle-left span {
    font-size: 40px;
  }

  .current-weather .weather-details-card .middle .middle-right {
    position: relative;
    left: 25%;
    margin-top: 5%;
  }

  .current-weather .weather-details-card .middle .middle-right .feelslike {
    font-size: 22px;
  }

  .current-weather .weather-details-card .middle .middle-right .type {
    margin-top: 2%;
    font-size: 15px;
  }

  .current-weather .weather-details-card .main-section {
    display: grid;
    grid-template-columns: 300px 300px;
    row-gap: 20px;
    margin-left: 10%;
    margin-top: -5%;
  }

  .current-weather .weather-details-card .main-section .detail hr {
    width: 80%;
    opacity: 0.2;
  }

  .current-weather .weather-details-card .main-section .detail span {
    font-size: 18px;
  }

  /* Not found section */

  .not-found {
    margin-left: 40%;
    width: 60vw;
  }

  .modal {
    position: absolute;
    top: 40%;
    left: 25%;
    width: 60%;
  }

  .modal .data {
    font-size: 15px;
  }

  .modal .cross {
    font-size: 30px;
    position: relative;
    left: -5%;
  }

  .modal-hidden {
    transform: translateY(8rem);
    display: none;
  }
}

/*6.media queries for tabs */

@media (min-width: 1021px) and (max-width: 1200px) {
  /* Navigation section */

  .navigation {
    height: 50vh;
  }

  .nav-logo {
    position: absolute;
    top: 3%;
    left: -2%;
    z-index: 100;
    display: flex;
    justify-content: center;
  }

  .nav-logo img {
    width: 25%;
  }

  .nav-logo span {
    margin-top: 5%;
    font-size: 20dcpx;
  }

  .nav-search {
    position: absolute;
    top: 15%;
    left: 12%;
    z-index: 100;
  }

  .nav-search .search-box {
    width: 70vw;
    padding: 8px 5px 8px 35px;
    border-radius: 10px;
    font-size: 15px;
  }

  .nav-search .search-icon {
    width: 3%;
    position: relative;
    top: 16%;
    left: 4%;
    z-index: 100;
  }

  /* Recent Search History */

  .recent-search {
    position: absolute;
    top: 25%;
    left: 15%;
    font-size: 15px;
  }

  .cards-container {
    display: flex;
    margin-top: 2%;
    margin-left: 0%;
  }

  .cards-container .cards {
    display: block;
    margin-right: 1%;
  }

  .cards-container .cards .cityName {
    font-size: 12px;
    margin-top: 5%;
    margin-left: 5%;
  }

  .cards-container .cards .countryName {
    font-size: 10px;
    margin-top: 1%;
  }

  .cards-container .cards .temp {
    margin-top: 2%;
    display: flex;
  }

  .cards-container .cards .temp img {
    margin-left: 8%;
    width: 20%;
    margin-right: 5%;
    filter: invert(100%);
  }

  .cards-container .cards .temp span {
    margin-top: 2%;
    margin-left: 3%;

    font-size: 15px;
  }

  .cards-container .cards .feelsLike {
    margin: 5%;
    font-size: 10px;
  }

  /* Weather Display Card section */

  .mainSection {
    margin-top: -2%;
  }

  .current-weather {
    width: 70%;
    margin-top: 10%;
    margin-left: 15%;
  }

  .weather-details-card {
    padding: 2%;
    width: 100%;
  }

  .hidden {
    display: none;
    transform: translateY(8rem);
  }

  .current-weather .weather-details-card .top {
    display: flex;
    margin-bottom: 2%;
  }

  .current-weather .weather-details-card .current-text {
    font-size: 17px;
  }

  .current-weather .weather-details-card .timing {
    font-size: 17px;
  }

  .current-weather .weather-details-card .middle {
    display: flex;
    margin-bottom: 12%;
  }

  .current-weather .weather-details-card .middle .middle-left {
    position: relative;
    left: 5%;
    margin-top: 5%;
  }

  .current-weather .weather-details-card .middle .middle-left img {
    width: 25%;
    /* filter: invert(80%); */
    margin-right: 10%;
  }

  .current-weather .weather-details-card .middle .middle-left span {
    font-size: 40px;
  }

  .current-weather .weather-details-card .middle .middle-right {
    position: relative;
    left: 25%;
    margin-top: 5%;
  }

  .current-weather .weather-details-card .middle .middle-right .feelslike {
    font-size: 22px;
  }

  .current-weather .weather-details-card .middle .middle-right .type {
    margin-top: 2%;
    font-size: 15px;
  }

  .current-weather .weather-details-card .main-section {
    display: grid;
    grid-template-columns: 300px 300px;
    row-gap: 20px;
    margin-left: 10%;
    margin-top: -5%;
  }

  .current-weather .weather-details-card .main-section .detail hr {
    width: 80%;
    opacity: 0.2;
  }

  .current-weather .weather-details-card .main-section .detail span {
    font-size: 25px;
  }

  /* Not found section */

  .not-found {
    margin-left: 40%;
    width: 60vw;
  }

  .modal {
    position: absolute;
    top: 40%;
    left: 25%;
    width: 60%;
  }

  .modal .data {
    font-size: 15px;
  }

  .modal .cross {
    font-size: 30px;
    position: relative;
    left: -5%;
  }

  .modal-hidden {
    transform: translateY(8rem);
    display: none;
  }
}
