@import url('fonts.css');

* {
    font-family: 'Nunito';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #acbcca;
}

.clock {
    position: relative;
    width: 450px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c9d5e0;
    border-radius: 50px;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    box-shadow: 45px 45px 45px -15px rgba(0, 0, 0, 0.15),
    inset 15px 15px 10px rgba(255, 255, 255, 0.75),
    -15px -15px 35px rgba(255, 255, 255, 0.55),
    inset -2px -2px 15px rgba(0, 0, 0, 0.2);
}

.numbers {
    position: absolute;
    width: 390px;
    height: 390px;
    background-color: #152b4a;
    border-radius: 50%;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px 22px #152b4a66,
    inset 7px 7px 7px rgba(255, 255, 255, 0.55),
    -9px -9px 15px rgba(255, 255, 255, 1);
}

.numbers::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #e91e63;
    z-index: 10000;
    box-shadow: 0 0 1px #e91e63,
    0 0 0 3px #fff,
    0 0 5px rgba(0, 0, 0, 0.15);
}

.numbers span {
    position: absolute;
    inset: 15px;
    text-align: center;
    color: #fff;
    font-size: 1.25rem;
    transform: rotate(calc(30deg * var(--i)));
}

.numbers span b {
    font-weight: 600;
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
}

.numbers .circle {
    position: absolute;
    width: 280px;
    height: 280px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}

.numbers .circle i {
    position: absolute;
    width: 6px;
    height: 50%;
    background-color: var(--clr);
    opacity: 0.75;
    transform-origin: bottom;
    transform: scaleY(0.5);
}

.numbers #sec i {
    width: 2px;
}

.numbers #min i {
    width: 4px;
}

.numbers #min {
    width: 230px;
    height: 230px;
}

.numbers #hrs {
    width: 180px;
    height: 180px;
}
.numbers .circle::before {
    content: '';
    position: absolute;
    top: -6px;
    left: 50%;
    width: 10px;
    height: 10px;
    background: var(--clr);
    border-radius: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 20px var(--clr),
    0 0 60px var(--clr);
}