* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.nav-search {
  display: flex;
  width: 300px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  justify-content: space-evenly;
  margin-left: 58px;
}
.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}
.search {
  width: 100%;
  font-size: 1rem;
  border-radius: 5px 0 0 5px;
}
.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.btn {
  height: 40px;
  width: 40px;
  border-radius: 0px 10px 10px 0;
}
.weather-icon {
  width: 170px;
  margin-top: 30px;
}
.weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.weather h2 {
  font-size: 42px;
  font-weight: 400;
  margin-top: -10px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}
.nav-search:hover {
  box-shadow: 5px 8px 8px grey;
}
.nav-search {
  transition: 1s;
}
