<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new chat</title>
</head>
<body>
    <h3>Write new chat..</h3>
    <form method="post" action="/chats">
        <input name="from" placeholder="Who are you?"><br><br>
        <textarea name="msg" placeholder="Write your Message here!"></textarea><br><br>
        <input name="to" placeholder="add reciever"><br><br>
        <button>Submit</button>
    </form>
</body>
</html>