<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <br><br>
    <h2>Create a New Listing</h2>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <lable for="title" class="form-label">Title</lable>
            <input name="listing[title]"placeholder="Add a catchy title"  type="text" class="form-control" required>
            <div class="valid-feedback">Title looks good!</div>
        </div>
        
       <div class="mb-3">
        <lable for="description" class="form-label">Description</lable>
        <textarea name="listing[description]" type="text" class="form-control" required></textarea>
        <div class="invalid-feedback">Please enter a short description</div>
       </div>
        
            <div class="mb-3">
                <lable for="image"  class="form-label">Upload Listing Image</lable> 
                <input name="listing[image]"  type="file" class="form-control" > required
            </div>

            <div class="row">
                <div class="mb-3 col-md-4">
                    <lable for="price"  class="form-label">Price</lable>
                    <input name="listing[price]" placeholder="1200"   class="form-control" required>
                    <div class="invalid-feedback"> Price should be valid</div>   
                </div>
                
                <div class="mb-3 col-md-8">
                    <lable for="country"  class="form-label">Country</lable>
                    <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
                    <div class="invalid-feedback"> Country name should be valid</div>
                </div>
            </div>
        
        
       
        <div class="mb-3">
            <lable for="location"  class="form-label">Location</lable>
            <input name="listing[location]" placeholder="Jaipur" type="text" class="form-control" required>
            <div class="invalid-feedback">Location should be valid</div>
        </div>
        
       <br>
        <button class="btn btn-dark add-btn mb-3">Add</button>
        
        

    </form>
</div>
</div>
    






















