<% layout("/layouts/boilerplate") %>


<div class="row mt-3">
    <div class="alert alert-danger col-6 offset-3" role="alert">
        <!-- <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
   -->
      <p class=" alert-heading"> <%= message %> </p>
      
      </div>
</div>
