body {
    /* background-color: pink; */
    
font-family: 'Plus Jakarta Sans', sans-serif !important;
display: flex;
flex-direction: column;
min-height: 100vh;

}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}
.f-info-links, .f-info-socials, .f-info-brand {
    width: 100%;
    /* vertical-align: middle; */
    display: flex;
    align-items: center;
    justify-content: center;

}

 

.f-info-socials i {
    margin-right: 1rem;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;

}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly ;


}

/* Card */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;

}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

/* card effect */
.card-img-overlay {
    opacity: 0;

}
.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}
/* New Pagw */
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit Page */
 .edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page */
.show-img {
    height: 40vh;
   

}

.btns {
    display:flex
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* Map */
#map { 
    height: 600px;
    width: 80vh;
 }

