@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
.body{
    background: url('../img/bg.jpg');
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items:center ;
}

#board{
    background: linear-gradient(rgb(185, 231, 185),rgb(235, 235, 188));
    width:90vmin;
    height:92vmin;
    border:2px solid black;
    display:grid;
    grid-template-rows:repeat(18,1fr);
    grid-template-columns:repeat(18,1fr);
}
#scoreBox{
    position:absolute;
    top:9px;
    right:200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    
}
#hiscoreBox{
    position:absolute;
    top:50px;
    right:167px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    
}
.head{
    background:linear-gradient(red,yellow);
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 10px;
}
.snake{
    background-color: purple;
    border: 0.25vmin solid white;
    border-radius:12px;
}
.food{
    background:linear-gradient(red,purple);
    border:.25vmin solid black;
    border-radius:8px;
}