body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2e5d7;

}

.container {
    color: #262322;
    width: 100vw;
    height: 100vh;
    margin: 0 auto; 
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
    padding-top: 1.5rem;
}

.top h1 {
    margin: 0;
    font-size: 3rem;
}

.top p {
    letter-spacing: 0.2rem;
    padding-left: 1rem;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .quote-area {
    display: flex;
    max-width: 27rem;
    background-color: #eff1f5;
    border-radius: 0.7rem;
    padding: 1.3rem 3rem;
    overflow-y: auto;
    box-sizing: border-box; 
}


.main .quote-area #quote {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.3rem;
    text-transform: uppercase;
}

.main .quote-area #author {
    font-size: 1.1rem;
}

.bottom {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    position: relative;
    bottom: 20px;
    left: 20px;
}

.bottom #btn {
    height: 3rem;
    padding: 1rem;
    color: #fff;
    background-color: #262322;
    border-radius:50%;
    font-weight: 700;
    font-size: 1.1rem;
    border: 0;
    cursor: pointer;
}

button:active{
    transition: ease-in-out 0.5s;
    transform: scale(0.95);
}

.end {
    display: flex;
    justify-content: center;
    align-items: center;
}

.end p {
    font-weight: 600;
    font-size: 0.8rem;
    padding-top: 0.5rem;
}


