*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
}


#nav{
    position: relative;
    padding: 3vw 10vw;
    display: flex;
    justify-content: space-between;
}

#nleft{
    display: flex;
    gap: 30px;
}

#nav a{
    display: inline-block;
    font-weight: 800;
    font-size: 12px;
    text-decoration: none;
    color: #000;
}

#nav #centeratag{
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#hero{
    width: 100%;
    margin-top: 15vw;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sustain{
    width: 10vw;
}

#sustain p{
    font-size: 12px;
    margin: 10px 0;
    font-weight: 800;
    opacity: 0.5;
    text-transform: capitalize;
}

#sustain #susimagewrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 15vw;
}

#susimagewrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ephemeral{
    width: 30vw;
    min-height: 42vw;
    position: relative;
}

#ephemeral h1{
    font-size: 6vw;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -.4vw;
}

#imgntext{
    width: fit-content;
    height: fit-content;
}

#ephemeral img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ephemeral p{
    margin-top: 30px;
    font-size: 1.3vw;
    letter-spacing: -.07vw;
    line-height: 1.3;
    width: 40%;
}

#ephemeral #headings{
    position: absolute;
    top: -22%;
    left: -20%;
}

#visit{
    display: flex;
    align-items: center;
    gap: 10px;
}

#circlev{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5e5e5e;
}

#circlev i{
    color: #5e5e5e;
}

#visit h3{
    font-weight: 400;
    color: #5e5e5e;
}

#motive{
    margin-top: 7vw;
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw;
}

#motive p{
    line-height: 1.7;
    position: relative;
    letter-spacing: -.12vw;
    font-size: 2.1vw;
    right: 0;
    width: 85%;
    text-align: right;
}

#motive span{
    display: inline-block;
    border-radius: 100px;
    margin: 0 13px;
    margin-bottom: -12.5px;
    
}

#onespan{
    width: 80px;
    height: 50px;
    background-image: url('images/bluegirl.jpg');
    background-size: cover;
    background-position: 0% 60%;
}

#twospan{
    width: 130px;
    height: 60px;
    background-image: url('images/shaljam.jpg');
    background-size: cover;
    background-position: 0% 48%;
}

#threespan{
    width: 80px;
    height: 50px;
    background-image: url('images/grass.jpg');
    background-size: cover;
    background-position: 0% 60%;
}

#pictures{
    display: flex;
    justify-content: space-between;
    margin-top: 8vw;
    padding: 3vw;
    padding-left: 14vw;
    padding-right: 12vw;
}

#firstpic{
    width: 17vw;
}

#firstpic #picimg{
  
    height: 24vw;
    margin-bottom: 1vw;
   width: 100%;
}

#picimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#firstpic h1, #secpic h1{
    letter-spacing: -.1vw;
    font-weight: 100;
    font-size: 2vw;
}

#firstpic p, #secpic p{
    opacity: .8;
    font-size: 1vw;
    letter-spacing: -.07vw;
    line-height: 1;
    margin-top: 10px;
}

#secpic{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 25vw;
}

#secpic #picimg{
  
    height: 37vw;
    margin-bottom: 1vw;
    width: 100%;
}

#secpic p{
    width: 50%;
    text-align: right;
}

#banner{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 8vw;
}

#bimg{
    width: 65%;
    height: 60vh;
}

#bimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 70%;
}

#btext{
    width: 35%;
    padding: 0 3vw;
}

#btext h1{
    font-size: 2.8vw;
    font-weight: 400;
    letter-spacing: -.15vw;
    line-height: 1;
}

#btext p{
    margin-top: 20px;
    width: 60%;
    font-size: 1vw;
}

#future{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

#future video{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
}

#ftext{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 9999;
    background-color: #fff;
    padding: 1vw 2vw;
    border-radius: 10px;
}


#ftext button{
    padding: .8vw 1.7vw;
    font-size: .6vw;
    text-transform: capitalize;
    margin-top: 10px;
    font-weight: 700;
    border-radius: 100px;
    background-color: #fff;
    border: 1px solid #c6c6c6;
    color: #6f6f6f;
    cursor: pointer;
}