body {
    text-align: center;
    background-color: #2d2c32;
  }
  
  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  5%;
    color: #FEF2BF;
  }
  
  .container {
    display: block;
    width: 50%;
    margin: auto;
  
  }
  
  .btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
  }
  
  .game-over {
    background-color: rgb(212, 19, 19);
    opacity: 0.8;
  }
  
  .red {
    background-color: rgb(249, 159, 4);
  }
  
  .green {
    background-color: rgb(23, 252, 7);
  }
  
  .blue {
    background-color: rgb(0, 93, 254);
  }
  
  .yellow {
    background-color: rgb(228, 248, 9);
  }
  
  .pressed {
    box-shadow: 0 0 20px white;
    background-color: rgb(0, 255, 251);
  }
  
/* body{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgb(17, 26, 48);
   font-family: cursive; 
}

#set{
   height: 500px; 
    width: 500px;
    display: inline-block;
    margin-top: 50px;
   

}
.btn{
    height: 210px;
    width: 210px;
    border-radius: 40px;
    border: 10px solid black;
    
}
#row1{
    display: flex;
    justify-content: space-around; 
    position: relative; 
    top: 25px;
}
#row2{
    display: flex;
    justify-content: space-around;  
   margin-top: 75px;
}
h1{
 font-size:60px;
  word-spacing: 20px;
  line-height: 30px;
  color: rgb(224, 187, 140);
}
.game-over{
    background-color: red;
  opacity: 0.8;
}
.g{
    background-color: green;
}
.r{
    background-color: red;
}
.y{
    background-color: yellow;
}
.b{
    background-color: blue;
}
.pressed{
    box-shadow: 0 0 20px #e2e4e5;
   background-color: gray;
  } */
