<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <h1 class="col-6 offset-3">SignUp on Wanderlust</h1>
    <div class="col-6 offset-3">
        <form method="POST" action="/signup" class="needs-validation" novalidate>
            <div class="mb-3">
                <lable for="username" class="form-label">Username</lable>
                <input name="username"id="username"  type="text" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="mb-3">
                <lable for="email" class="form-label">Email</lable>
                <input name="email"id="email"  type="email" class="form-control" required>
                
            </div>

            <div class="mb-3">
                <lable for="password" class="form-label">Password</lable>
                <input name="password"id="password"  type="password" class="form-control" required>
                
            </div>
            <button class="btn btn-success">SignUp</button>
        </form>
        </div>
        </div>