*{/*16px is root value*/
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color:#121212;
    color:#fff;
    overflow: hidden;
}
.main{
    display:flex;
    height:100vh;
    background-color:#000;
    padding: 0.5rem;
}
.sidebar{
    
    background-color: black;
    width:340px;
    border-radius:1rem;
    margin-right: 0.5rem;
    
}
.main-content{
    
    background-color: #121212;
    flex: 1;
    border-radius:1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}
.music-player{
   background-color:black;
   position:fixed;
   bottom: 0px;
   width: 100%;
   height: 72px;
}
a{
    text-decoration: none;
    color: #fff;
}
.nav{
    background-color: #121212;
    display:flex;
    flex-direction: column;
    justify-content:center;
    border-radius:1rem;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav-option:hover{
    
    opacity: 1;
}
.nav-option i{
    font-size:1.25rem ;
}.nav-option a{
    font-size:1rem;
    margin-left:1rem;
}

.library{
   
    border-radius:1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem ;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-option img{
    height:1.25rem;
    width: 1.25rem;
}
.icons{
    font-size: 1.25rem;
  
    display: flex;
}
.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}
.icons i:hover{
 

opacity:1;
}
.box{
    height: 7rem;
    border-radius: 0.5rem;
    background-color: #242424;
    margin: 0.75rem 0 1.75rem 0;
    padding: 1rem 1.25rem;

}
.box-p1{
    font-size: 1rem;
    background-color: #242424;
    font-weight: 500;
}
.box-p2{
    font-size: 0.75rem;
    opacity: 0.9;
    background-color: #242424;
}
.badge{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    color: black;
    margin-top: 1rem;
    font-size: 0.85rem;
    height: 2rem;
    width: fit-content;
}
.badge:hover{
    transform: scale(1.03);
    cursor: pointer;
}p{
    line-height: 2rem;
}
.sticky-nav{
    position:sticky;
    top: 0px;
    background-color:#121212 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 2rem;
    z-index: 1;
}
.sticky-nav-options{
    display: flex;
    align-items: center;
    /* justify-content: space-between;
     */
}
.sticky-nav-options .badge,i{
    margin-top: 0rem;
    margin-left: 0.34rem;
    background-color: black;
    color: white;
    

}
@media (max-width:1000px) {
   .hide{
    display: none;
   }
}
.card{
    background-color: #171717;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem ;
    margin-top: 1rem;
    transition: 0.4s;
}
.card:hover{
    background-color: #292727;
}
.cards-container{
    display: flex;
 flex-wrap: wrap;


}
.card-img{
    width: 100%;
    border-radius: 0.5rem;

}
.card p{
    background-color: inherit;
}
.card-title{
  font-weight: 700;
  font-size: 1rem;
margin-bottom: 0.2rem;

}
h2:hover{
    text-decoration: underline;
}
.card-info{
    font-size:0.7rem ;
    opacity: 0.8;
    line-height: 1.5rem;
}
.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
}
.line{
    width: 90%;
    height: 40%;
    border-top: 1px solid #4d4646;
    opacity: 0.4;

}
.music-player{
    display: flex;
    align-items: center;

}
.album{
    width: 25%;
    height: 72px;
    background-color: inherit;


}
.player{
    width: 50%;
    background-color: inherit;
    height: 72px;

}
.controls{
    width: 25%;
        background-color: inherit;

    height: 72px;

}
.player-control-icon{
   height: 1rem;
   margin-right: 1.35rem;
   opacity: 0.7;
}
.player-control-icon:hover{
    opacity: 1;
}

.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;

}
.player-controls , .playback-bar{
    background-color: #000000;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    overflow: visible;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
    
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #028733;
    border-radius:50%;
    margin-top:-6px;



}
.album{
    padding: 1rem;
}
.album img{
    height: 4rem;
    border-radius: 0.2rem;
}