.meaning1{
  
    text-align: center;
}
h1{
    text-align: center;
    color: red;
    margin-bottom: 0.3rem;
}

body{
    
    font-weight: 300;
}

div{
   
    margin: 2rem auto;
    padding: 1rem;
    box-shadow: 4px 4px 8px rgb(221, 222, 221);
   
}

.div3{
    margin-bottom: 0px;
    text-align: center;
    color: rgb(237, 79, 17);
    border-bottom: 1px solid black;
}

li::marker{
    content: "🤩 ";
    line-height: 2rem;
}

form{
    width: 100%;
    display: flex;
    justify-content: center;

}

input,button{
    padding: 0.7rem;
    margin: 0.55rem;
    border-radius: 10px;
    border: 0.4px solid rgb(238, 19, 19);
}
input{
    width: 30%;
}

.dis{
    display: none;
}

.new::marker{
    content: "🤔 ";
}

 .search{
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    box-shadow: none;
 }

 .mainContent,:first-child{
    box-shadow: none;
 }

